body{
	background-color: #222;
	user-select: none;
}

#tabuleiro{
	position: relative;
	display: inline-block;
	height: 600px;
	width: 600px;
	background-color: #e6e6e6;
	border: 2px solid black;
}

#cavalo{
	position: absolute;
}

.big{
	height: 400px;
	left: 50%;
	top: 37%;
	transform: translate(-50%, -50%);
}

#titulo{
	position: absolute;
	width: 500px;
	left: 50%;
	top: 68%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 60px;
	font-size: 70px;
	font-weight: bold;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.square{
	position: relative;
	vertical-align: top;
	margin: 0px;
	display: inline-block;
	border: 1px solid black;
	background-color: #fff9e8;
}

.darker{
	background-color: #bf900b;
}

.square .p{
	opacity: 0;
	transition: 0.2s ease;
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.square:hover .p{
	opacity: 1;
}

.square .img{
	opacity: 1;
	transition: 0.2s ease;
}

.square:hover .img{
	opacity: 0;
}

#side{
	position: absolute;
	display: inline-block;
	display: inline-block;
	margin-left: 10px;
}

#side input, #side label, #side button{
	font-size: 20px;
}

#configs{
	padding: 5px;
	border: 2px solid black;
	background-color: #e6e6e6;
}

#configs label{
	display: inline-block;
	margin-bottom: 10px;
}

#configs label:nth-child(2){
	margin-left: 5px;
}

.normal{
	width: 161px;
}

.mini{
	display: inline-block;
	width: 72px;
}

#build{
	background-color: #bf900b;
	border-radius: 4px;
	width: 100%;
	font-weight: bold;
}

#build:hover{
	background-color: #f0cf71;
}

#controles{
	margin-top: 3px;
	padding: 5px;
	border: 2px solid black;
	background-color: #e6e6e6;
}

#controles button{
	width: 39px;
	background-color: #bf900b;
	border: 1px solid black;
	border-radius: 4px;
}

#controles button:hover{
	background-color: #f0cf71;
}

#historico{
	height: 357px;
	margin-bottom: 10px;
	border: 1px solid black;
	background-color: #888;
	color: white;
	overflow: auto;
	user-select: text;
}